@page "/strengthworkout"

<div style="height: 100px; max-height:100px;" class="row pl-4">
    @if (!UserPage.SignedIn)
    {
        <div>
            <h1>You are not signed in!</h1>
            <a role="button" class="btn btn-primary" href="/">Login</a>
        </div>
    }
    else if (UserPage.SignedIn && CurrentWorkout == null)
    {
        <div>
            <h1>No data available</h1>
        </div>
    }
    else
    {
        <div>
            <h1>Strength</h1>
            <h5>@CurrentWorkout.Description</h5>
            <h5></h5>
        </div>
    }
</div>